.my-clubsbody {
    width: 100%;
}

.clubhead {
    height: 110px;
    min-width: 100%;
    background-color: #fcfcff;
    border-bottom: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    padding: 20px 32px;
    min-height: 110px;
    align-items: center;
    padding-right: 150px;
}

.clubstextcont {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.myclubstext {
    font-size: 25px;

}

.clubnum {
    color: grey;
}

.clubsearchcont {
    background-color: white;
    height: fit-content;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 0 8px;
    border-radius: 10px;
    gap: 8px;
}

.clubsearchcont input {
    width: 95%;
    background: transparent;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.clubsearchcont img {
    width: 18px;
}

.searchclub::placeholder {
    color: #999;
}

.clublist {
    padding: 25px 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
    background-color: #f7fafc;
    padding-right: 150px;
}

.clubinfo {
    display: flex;
    gap: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 98%;
    height: 150px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid rgb(230, 230, 230);
}

.clubppic {
    width: 110px;
    height: 110px;
    border-radius: 18px;
    background-color: #f2ede6;
    padding: 10px;
}



.clubpinfo {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.clubinfo h1 {
    font-size: 25px;
    margin: 10px 0 13px 0;
}

.clubpinfo div {
    display: flex;
    align-items: end;
    gap: 7px;
}

.clubpinfo img {
    height: 18px;
}

.clubinfo div p {
    margin-bottom: -5px;
    color: rgb(105, 105, 105);
}

.userposcont{
    height: 100%;
}

.userpos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 12px;
    /* border: 1px solid rgb(230, 230, 230); */
    border-radius: 8px;
    background-color: #f2f6fa;
    color: rgb(89, 89, 89);
    margin-top: 15px;
}