.dashboard-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.dashboard-main {
    margin-left: 29%;
    width: 71%;
    min-height: 100vh;
}


@media (max-width: 1024px) {
    .dashboard-container {
        flex-direction: column;
    }

    .dashboard-main {
        margin-left: 0;
        width: 100%;
    }
}